#search {
	display: block;
	color: yellow;
	text-align: center;
	padding: 5px auto;
	text-decoration: none;
	font-size: 16px;
	border: 2px rgb(83, 104, 78) solid;
	max-width: 500px;
	min-width: 250px;
	margin: auto;
	font-family: Arial;
}

#search_button {
	min-width: 55%;
}

#search_results {
	font-size: 120%;
	padding-top: 2%;
	letter-spacing: 5px;
}

#result_display {
	font-size: 140%;
	padding: 3%;
	font-weight: bold;
}

body {
	background: #000000;
	letter-spacing: 3px;
	line-height: 20px;
}

#main-field{
	color: #ffff00;
	display: flex;
	justify-content: center;
}

#shopping_content {
	position: relative;
	text-align: center;
	width: 70%;
	border: 2px rgb(100, 160, 59) solid;
	padding: 0px 0px;
	display: flex;
	justify-content: space-between;
	font-family: Arial;
	height: 20%;
}

#head-categories {
	font-size: 16px;
	height: 72%;
	width: 25%;
	/* border: 2px rgb(51, 255, 0) solid; */
	float: left;
	text-align: left;
	padding: 15px;
	margin-left: 20px;
	line-height: 24px;;
	letter-spacing: 3px;
}

#products {
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	text-align: center;
	display: block;
	margin-bottom: 3%;
}

.container	{
	width: 90%;
	overflow: hidden;
	margin: 20px auto;
	padding: 20px;
}

.container ul {
	padding: 0px;
}

#shopping-list	{
	font-size: 15px;
	text-align: center;
	width: 22%;
	height: 20%;
	min-height: 450px;
	border: 2px rgb(100, 160, 59) solid;
	margin: 20px;
	font-family: Arial;
	margin-top: 0px;
}

ul	{
	text-align: left;
	display: inline-block;
	width: 80%;
	line-height: 25px;
	letter-spacing: 1px;
	margin-right: 20px;
}

h3	{
	font-size: 26px;
	letter-spacing: 8px;
}

h4	{
	letter-spacing: 3px;
	font-size: 150%;
}

#text_time {
	padding-top: 20px;
	letter-spacing: 2px;
	line-height: 15px;
}

table {
	border-collapse: collapse;
}

tr {
	width: 100%;
	height: 300;
	padding: 0px;
	margin: 0px;
}

td {
	border: 2px solid rgb(123, 128, 86);
}

.product {
	width: 200px;
	height: 300px;
	padding-top: 0%;
	padding-bottom: 10px;
}

.product_name {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	overflow: hidden;
	text-align: center;
}

img {
	display: inline-block;
	max-height: 200px;
	max-width: 200px;
	overflow: hidden;
}

#page_selector {
	width: 80%;
	padding: 5px;
	display: block;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 40px;
}

.page_selector_component {
	min-height: 20px;
	min-width: 120px;
	height: 50px;
	display: inline-block;
}

#delete_list {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
}

#checkout {
	margin-top: 10px;
	margin-bottom: 15px;
}